.container {
  background: red;
  border: 1px solid red;
}

.col,
.col-9,
.col-6,
.col-3 {
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: white;
  background-clip: padding-box;
  border: 0.5px solid transparent;
}

.col:hover,
.col-9:hover,
.col-6:hover,
.col-3:hover {
  background: #ff3377;
}

.formula {
  color: white;
  background: #FF0066;
  /* background-clip: padding-box; */
  border: 0.5px solid black;
}
